* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    min-width: 1232px;
    background: rgb(181, 189, 200); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 37%, rgba(130, 140, 149, 1) 43%, rgba(40, 52, 59, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 37%, rgba(130, 140, 149, 1) 43%, rgba(40, 52, 59, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 37%, rgba(130, 140, 149, 1) 43%, rgba(40, 52, 59, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

.app-wrapper {
    width: 1232px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
        "header header"
        "nav content";
    gap: 1rem;
}

.app-wrapper-content {
    margin: 0 0 1rem 0;
    grid-area: content;
    border-radius: 1rem;
    background: rgb(245,246,246); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 0%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 100%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 0%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 100%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 0%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 100%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 */
}

