.wrapper {
    background: url("./images/fireplace.jpg") center/cover no-repeat;
}

.app {
    background: rgb(0, 0, 0, 0.4);
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
        "header header"
        "nav content";
    gap: 1rem;
}

.app__header {
    /*fh 1 rem = 16 px*/
    margin: 1rem 0 0 0;
    grid-area: header;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    align-items: center;

}

.logo img {
    margin: 0 0 0 1.3rem;
    height: 3.0rem;
}

.app__nav {
    grid-area: nav;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(255, 255, 255, 0.8);
}

.app__nav a {
    color: firebrick;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border: 1px solid firebrick;
    border-radius: 1rem;
    text-decoration: none;
    transition-duration: 0.5s;
    background: rgb(255, 255, 255, 0.8);
}

.app__nav div {
    margin: 1.5rem 0 1.5rem 1rem;
}

.app__nav a:hover {
    box-shadow: 0 0 10px firebrick;
    font-weight: 600;
}

.app__nav a:visited {
    text-decoration: none;
}

.app__content {
    padding: 1rem;
    grid-area: content;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(255, 255, 255, 0.8);
}

.app__content img {
    width: 1000px;
    height: 200px;
}

.personalImage{
    height: 7rem;
    border: 1px solid firebrick;
}

.description {
    height: 15rem;
    border: 1px solid firebrick;
    display: flex;
}

.description__avatar{
    height: 10rem;;
    border: 1px solid firebrick;
    flex: 1 1 33%
}

.description__char{
    height: 10rem;
    border: 1px solid firebrick;
    flex: 1 1 66.99%
}

.my-posts{
    height: 15rem;
    border: 1px solid firebrick;
}

