.content {
    min-height: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #939393;
    border-radius: 1rem;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}

.dialogs-items  {
    display: flex;
    flex-direction: column;
}

.messages{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #939393;
    border-radius: 1rem;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messageBlock{
    min-height: 3rem;
    border: 1px solid #939393;
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
}

.tArea {
    flex: 1 1 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    resize: none      /*!!!!!!!!!!!!!!!!!!!!!!!!*/

}

.sendMessageBtn{
    height: 2.5rem;
    flex: 0 0 2.5rem;
    border-radius: 50%;
    border: 1px solid #939393;
    margin: 0.2rem;
    align-self: flex-end;
}